<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap" rel="stylesheet">
    <title>Email Template</title>
     
    <style>
        .message {
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10px;
}
    </style>
    
</head>

<body>
    <img src="https://cdn.shopify.com/s/files/1/0076/0889/3525/files/rerouted-compact-RGB-reverse-black-large.png?v=1625111582" alt='rerouted logo' style='height: 40px; width: 200px;'>
    <div class="message">
        <p>Congratulations! Someone bought your <span><%= itemName %></span>, all thats left is shipping and payment! </p>
        <p></p>
        <p>We need to pay you! This is a beta version of our system so we are currently doing manual payouts. </p>
        <p></p>
        <p>Just reply to this email with your paypal email address, venmo email or physical address and we will send your payment immediately!</p>
        <p></p>
        <p></p>   
        <p>Ship to:<span id="name"> <%= name %></span> 
            <br> &nbsp;&nbsp;&nbsp;Street Address: <span id="street"><%= street %> </span> <span> <%= address2 %> </span>       
            <br> &nbsp;&nbsp;&nbsp;City: <span id="city"><%= city %></span>
            <br> &nbsp;&nbsp;&nbsp;State: <span id="state"><%= state %></span>
            <br> &nbsp;&nbsp;&nbsp;Zip: <span id="zip"><%= zip %></span>
            <br> &nbsp;&nbsp;&nbsp;Customer email: <span id="customerEmail"><%= customerEmail %></span>
            <br>
            <br>
            Thank you for choosing rerouted! If you have any other questions you can include them in a reply to this email as well and we will get back to you as soon as we can! </p>
    </div>

    <script src=""></script>   
</body>



</html>